.bg-container1 {
    background-color: #000000;
    position: absolute;
    display: flex;
    padding-left: 70px;
    color: #ffffff;
    top: 0;
    left: 0;
    padding-top: 100px;
    width:100%
  }
  .input-search {
    height: 40px;
    width: 350px;
    background-color: transparent;
    border: 1px solid #f1f5f9;
    border-radius: 6px;
    border-right-width: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    color: #ffffff;
  }
  .btn1 {
    height: 40px;
    width: 60px;
    background-color: #272727;
    border-radius: 6px;
    border: 1px solid #f1f5f9;
    border-left-width: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    color: #ffffff;
  }
  .cardinput {
    margin-top: 30px;
  
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 35px;
  }
  .bg-card11 {
    display: flex;
    flex-direction: column;
  
    align-items: center;
  
    height: 100vh;
    width: 1200px;
    margin-left: 35px;
  }
  .job-item-failure-button {
    background-color: #6366f1;
    padding: 12px;
    width: 110px;
    border: none;
    font-size: 16px;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
  }
  .img-failure {
    width: 700px;
    height: 500px;
  }
  .list-type-job {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  